
<h1> All Spaces </h1>

<form action="/search" method="post">
  <input type="number" step=".01" name="price_min" id="price_min" placeholder="Minimum price">
  <input type="number" step=".01" name="price_max" id="price_max" placeholder="Maximum price">
  <input type="submit" value="Search">
</form>

<% @spaces.reverse_each do |space| %>
<article class="listing">
  <h3><%= space.description %></h3>
  <h4> Location: <%= space.location %> </h4>
  <p> Price: £<%= space.price %> </p>
  <a href="mailto:johndoetest@gmail.com">Book Now</a>
</article>
<% end %>
