
<h1> Makersbnb </h1>

<p> Description: <%= @space.description %> </p>
<p> Price: <%= @space.price %> </p>
<p> Location: <%= @space.location %> </p>
<a href="mailto:johndoetest@gmail.com">Book Now</a>
