
<form action="/space" method="post">
  <input type="text" id="description" name="description" placeholder="description">
  <input type="text" id="price" name="price" placeholder="price">
  <input type="text" id="location" name="location" placeholder="location">
  <input type="submit" value="List space">
</form>
