

<div class="row">
   <h1> </h1>
</div>
<div class="row">
   <div class="col-md-2">
   </div>
   <div class="col-md-8">
      <div class="form-group">
         <form action="/space" method="post">
            <div class="form-group">
               <input class="form-control" type="text" id="description" name="description" placeholder="description">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" id="price" name="price" placeholder="price">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" id="location" name="location" placeholder="location">
            </div>
            <input class="btn btn-info"" type="submit" value="List space">
         </form>
      </div>
   </div>
</div>
