<footer class="navbar navbar-default navbar-fixed-bottom text-center">
  <div class="container">
    <p class="text-muted">Created by:
      <a href="https://github.com/tbscanlon">Tom Scanlon</a> |
      <a href="https://github.com/vhonebon1">Verity Honebon</a> |
      <a href="https://github.com/jkingharman">Jasper King Harman</a> |
      <a href="https://github.com/Corina">Corina Gheorghe</a> |
      <a href="https://github.com/MarySalemme">Mary Salemme</a> |
    </p>
    <p>
      Copyright (c) 2017 Team Recursion Team All Rights Reserved.
    </p>
  </div>
</footer>
