<div class="jumbotron col-md-12">
    <h1>Welcome to MakersBnb</h1>
    <p>A platform for listing and renting spaces around the world.  Created by Team Recursion Team during week 6 of Makers Academy</p>
</div>
