<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Makers BNB</title>
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  
<%= partial :"partials/navbar" %>

<%= partial :"partials/flash" %>

<%= yield %>

</body>
</html>
