<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers BNB</title>
  </head>
  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <% flash[:errors].each do |error| %>
        <div class="alert">
          <%= error %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
