<form action="/user" method="post">
  <input type="text" id="name" name="name" value="name">
  <input type="text" id="username" name="username" value="username">
  <input type="text" id="email" name="email" value="email">
  <input type="password" id="password" name="password" value="password">
  <input type="password" id="password confirmation" name="password confirmation" value="password confirmation">
  <input type="submit" value="Create account">
</form>
